# Node.js / Next.js
node_modules/
.next/
out/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp
*.swo